:where(.rootX) {
  overflow: auto;
  block-size: 100%;

  & form {
    max-inline-size: calc(1200px + 2 * 2rem);
    margin-inline: auto;
    padding-block: 2rem;
    padding-inline: 2rem;
    display: grid;
    gap: 4em;
    grid-template: auto auto / auto;
    align-items: start;
  }

  /* We need to annotate this page with header, but we dont want to make it visible, therefore we need to visually hide it by placing it outside of the viewport */
  & h1 {
    position: fixed;
    inset-inline-start: -100vw;
  }
}

.tableX {
}

.submitX {
  position: sticky;
  inset-block-start: 2rem;
}

@media only screen and (min-width: 1000px) {
  :where(.rootX) {
    & form {
      grid-template: auto / 1fr 380px;
    }
  }
}
